.box {
    float: left;
    height: 340px;
    margin: 0 10px 0 0;
}
.o2_mini .box {
    height: 305px;
}
.box_hd {
    height: 60px;
    padding: 0 20px;
    font-size: 0;
    line-height: 0;
}
.box_hd_arrow {
    background-image: url(//misc.360buyimg.com/mtd/pc/index_2019/1.0.0/assets/sprite/tit_arrow/sprite.png);
    background-position: -16px 0;
    width: 16px;
    height: 16px;
    position: relative;
    float: left;
    top: 9px;
    left: 10px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .box_hd_arrow {
        background-image: url(//misc.360buyimg.com/mtd/pc/index_2019/1.0.0/assets/sprite/tit_arrow/sprite@2x.png);
        background-size: 32px 32px;
    }
}
.box_hd_arrow:after {
    background-image: url(//misc.360buyimg.com/mtd/pc/index_2019/1.0.0/assets/sprite/tit_arrow/sprite.png);
    background-position: 0 0;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    content: "";
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .box_hd_arrow:after {
        background-image: url(//misc.360buyimg.com/mtd/pc/index_2019/1.0.0/assets/sprite/tit_arrow/sprite@2x.png);
        background-size: 32px 32px;
    }
}
.box_hd_lk {
    display: inline-block;
    position: relative;
    height: 32px;
    margin: 12px 0 0;
}
.box_hd_lk:hover .box_hd_arrow:after {
    opacity: 1;
    visibility: visible;
}
.box_hd_dot {
    font-size: 20px;
    display: inline-block;
    float: left;
    height: 10px;
    margin: 20px 0 0 10px;
    color: #999;
}
.o2_mini .box_hd_dot {
    margin: 15px 0 0 10px;
}
.box_tit {
    float: left;
    font-weight: 700;
    font-size: 24px;
    color: #333;
    line-height: 32px;
}
.box_last {
    margin-right: 0;
}
@media only screen and (-o-min-device-pixel-ratio: 3/2),
    only screen and (-webkit-min-device-pixel-ratio: 1.5),
    only screen and (min--moz-device-pixel-ratio: 1.5),
    only screen and (min-device-pixel-ratio: 1.5) {
    .box_hd_arrow,
    .box_hd_arrow:after {
        background-size: 32px 32px;
        background-image: url(//misc.360buyimg.com/mtd/pc/index_2019/1.0.0/assets/sprite/tit_arrow/sprite@2x.png);
    }
}
.lazyimg {
    position: relative;
    overflow: hidden;
    background: #eee;
    -webkit-transition: background 0.2s linear;
    transition: background 0.2s linear;
}
.lazyimg_img {
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
    -webkit-backface-visibility: hidden;
}
.lazyimg_loaded {
    -webkit-transition: background 0.2s linear, opacity 0.2s linear !important;
    transition: background 0.2s linear, opacity 0.2s linear !important;
    background: transparent;
}
.lazyimg_loaded .lazyimg_img {
    opacity: 1;
}
.coupon {
    background: #fff;
}
.coupon .box_bd {
    background: url(//misc.360buyimg.com/mtd/pc/index_2019/1.0.0/assets/img/ab4b10750f3da259165a76e30074f504.png)
        no-repeat bottom;
    overflow: hidden;
}
.o2_mini .coupon .box_bd {
    background-image: url(//misc.360buyimg.com/mtd/pc/index_2019/1.0.0/assets/img/56b5d2b94458dedf75d696a8cad8a997.png);
}
.coupon_item {
    position: relative;
    overflow: hidden;
}
.coupon_lk {
    display: block;
    overflow: hidden;
}
.coupon_lk_wrap {
    height: 100%;
    margin-right: 40px;
}
.coupon_img {
    float: left;
    margin: 8px 0 0 7px;
    width: 50px;
    height: 50px;
    padding: 8px;
    border-radius: 50%;
    -webkit-transition: opacity 0.2s ease;
    background: #fff !important;
    transition: opacity 0.2s ease;
}
.coupon_img > img {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
}
.coupon_lk:hover .coupon_img {
    opacity: 0.8;
}
.coupon_info {
    padding-top: 5px;
    margin-left: 80px;
}
.o2_mini .coupon_info {
    padding-top: 7px;
    margin-left: 16px;
}
.coupon_price {
    font-family: impact, sans-serif;
    display: block;
    height: 34px;
    line-height: 34px;
}
.o2_mini .coupon_price {
    height: 24px;
    line-height: 24px;
}
.coupon_price i {
    font-size: 14px;
}
.coupon_price span {
    font-size: 28px;
    margin-right: 3px;
}
.o2_mini .coupon_price span {
    font-size: 20px;
}
.coupon_desc {
    color: #333;
}
.coupon_desc,
.coupon_limit {
    font-size: 12px;
    line-height: 18px;
    height: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.coupon_limit {
    color: #999;
}
.coupon_more {
    position: absolute;
    height: 100%;
    line-height: 82px;
    margin-right: 32px;
    font-size: 12px;
    color: #666;
    top: 0;
    right: 0;
}
.o2_mini .coupon_more {
    line-height: 72px;
}
.coupon_more_inner {
    display: inline-block;
    width: 1px;
    line-height: 15px;
    vertical-align: middle;
}
.coupon_more_arrow {
    position: absolute;
    right: -28px;
    top: 0;
    font-family: iconfont, sans-serif;
}
.coupon_lk:hover .coupon_more {
    color: #c81623;
}
@media only screen and (-o-min-device-pixel-ratio: 3/2),
    only screen and (-webkit-min-device-pixel-ratio: 1.5),
    only screen and (min--moz-device-pixel-ratio: 1.5),
    only screen and (min-device-pixel-ratio: 1.5) {
    .coupon .box_bd {
        background-size: 100% auto;
        background-image: url(//misc.360buyimg.com/mtd/pc/index_2019/1.0.0/assets/img/b5576e69a83147bda19e45d0cf428e41.png);
    }
    .o2_mini .coupon .box_bd {
        background-image: url(//misc.360buyimg.com/mtd/pc/index_2019/1.0.0/assets/img/f3e93ece73a164ddf2886a6035e769bf.png);
    }
}
.nice-shop {
    background-color: white;
}
.nice-shop .shop-item {
    position: relative;
    display: block;
}
.nice-shop .shop-item--bg-1 {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAQQAAACAAQMAAADXkIUzAAAABlBMVEXv7/bz8/hwiQw0AAAA6klEQVRYw4XOMRHAMAwEwYduaIYiCC5VaJRA2Ku3uHyoKI7ERqIpiuJIbCSaoiiOxEaiKYoiEkPxKC5FJIbiUVyKSAzFo7gUkRiKR3EpIjEUj+JSRGIoHsWliMRQPIpLEYmheBRHYiPRFEVxJDYSTVEUR2Ij0RRFcSQ2Ek1RFEdiI9EURXEkNhJNURRHYiPRFEVxJDYSTVEUkRiKR3EpIjEUj+JSRGIoHsWliMRQPIpLEYmheBSXIhJD8SguRSSG4lFcikgMxaM4EhuJpiiKI7GRaIqiOBIbiaYoiiOxkWiKojgSG9UURcGNH/PGPpNjQrMwAAAAAElFTkSuQmCC);
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
@media screen and (-moz-min-device-pixel-ratio: 2),
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (min--moz-device-pixel-ratio: 2),
    screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 2dppx),
    screen and (min-resolution: 192dpi) {
    .nice-shop .shop-item--bg-1 {
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAggAAAEAAQMAAADsiRzQAAAABlBMVEXv7/bz8/hwiQw0AAAB/klEQVR42qXQsU0FQAwFwVf6lXaluASHDk6GgBQkvmYLmGDzhS0Lw0KxcMIbVBgWioWjwkaFYaFYOCpsVGgWLgtR4bHQLFwWosJjoVm4LESFx0KzcFmICo+FZuGyEBUeC83CZSEqPBaahctCVHgsNAuXhagwLBQLR4WNCsNCsXBU2KgwLBQLR4WNCsNCsXBU2KgwLBQLR4WNCsNCsXBU2KgwLBQLR4WNCsNCsXBU2KjQLFwW8ksfCY+FZuGyEBUeC83CZSEqPBaahctCVHgsNAuXhajwWGgWLgtR4bHQLFwWosJjoVm4LESFYaFYOCpsVBgWioWjwkaFYaFYOCpsVBgWioWjwkaFYaFYOCpsVBgWioWjwkaFYaFYOCpsVBgWioWjwkaFZuH+U/i7qPBYaBYuC1HhsdAsXBaiwmOhWbgsRIXHQrNwWYgKj4Vm4bIQFR4LzcJlISo8FpqFy0JUGBaKhaPCRoVhoVg4KmxUGBaKhaPCRoVhoVg4KmxUGBaKhaPCRoVhoVg4KmxUGBaKhaPCRoVhoVg4KmxUaBB+uixEhcdCs3BZiAqPhWbhshAVHgvNwmUhKjwWmoXLQlR4LDQLl4Wo8FhoFi4LUeGx0CxcFqLCsFAsHBU2KgwLxcJRYaPCsFAsHBU2KgwLxcJRYaPCsFAsnGAbbaJVNN7wDZFnrXsGF3soAAAAAElFTkSuQmCC);
    }
}
.nice-shop .shop-item--bg-2 {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAQQAAACAAgMAAACQMP/jAAAACVBMVEXr8urx9fDv9O5sPmP1AAABCklEQVRo3qXXsQ2DUBQEwS2NEl5gECGlULoLsPTBmitgNem1404u3DEhJsSEmBATYkJMiAkxISbEhJgQE2JCTIgJMSEmxISAIIVJC2lhuJAWhgtpYbiQFkYLR1q4fgpMiAkxISbEhJgQE2JCTIgJMSEmxISYEBNiQkyICTGhlwQtfNLC1mJMiAkxISbEhJgQE54LtxbOnsaEmBATYkJMiAkxISbEhJgQE2JCTIgJMSEmxISYEBNiQguCFCYtpIXhQloYLqSF4UJaGC0caeHq3zEhJsSEmBATYkJMiAkxISbEhJgQE2JCTIgJMSEmxISY0LtHWLUsbMGYEBNiQkyICTEhJrTf4c50TPgCJSR8FkpvdvMAAAAASUVORK5CYII=);
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
@media screen and (-moz-min-device-pixel-ratio: 2),
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (min--moz-device-pixel-ratio: 2),
    screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 2dppx),
    screen and (min-resolution: 192dpi) {
    .nice-shop .shop-item--bg-2 {
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAggAAAEAAgMAAACrKWYAAAAACVBMVEXr8urx9fDu9O309Vh4AAACU0lEQVR42sXasU0gUAwFwS2NEgjgy6FLcelXwokA5lUw2tBy33pfnvDBCRMnHCdMnHCcMHHCccLECccJEyccJ0yccJwwccJxwsQJxwkTJxwnTJxwnDBxwnHCxAnHCRMnHCdMnHCcMHFCnPDpCXHCcsKLE5YTXpywnPDihOWEFycsJ7w4YTnhxQnLCS9OWE54ccJywosTlhNenLCc8OKE5YQXJywnvDhhOeHFCcsJX3HCBydMnHCcMHHCccLECccJEyccJ0yccJwwccJxwsQJxwkTJxwnTJxwnDBxwnHCxAnHCRMnHCdMnHCcMHHCccLECXHCekKcsJzw4oTlhBcnLCe8OGE54cUJywkvTlhOeHHCcsKLE5YTXpywnPDihOWEFycsJ7w4YTnhxQnLCS9OWE54ccJywleccJwwccJxwsQJxwkTJxwnTJxwnDBxwnHCxAnHCRMnHCdMnHCcMHHCccLECccJEyccJ0yccJwwccJxwsQJxwkTJ8QJn5zw4oTlhF+IkI+Qj5CPkI+Qj5CPkI+Qj5CPkI+Qj5CPkI+Qj5CPkI+Qj5CPkI+Qj5CPkI+Qj5CPkI+Qj5CP8H/CV7+9n591/pww/fp8hHyEfIR8hHyEfIR8hHyEfIR8hHyEfIR8hHyEfIR8hHyEfIR8hHyEfIR8hHyEfIR8hHyEfIR8hH7+HPD7hM/+en9+1vk/Yfvz+Qj5CPkI+Qj5CPkI+Qj5CPkI+Qj5CPkI+Qj5CPkI+Qj5CPkI+Qj5CPkI+Qj5CPkI+Qj5CPkI+Qh9f6X3/ZHexHfp/QPQecvkDD+3KgAAAABJRU5ErkJggg==);
    }
}
.nice-shop .shop-item--bg-3 {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAQQAAACAAgMAAACQMP/jAAAACVBMVEXw6+n08e/z7+2Ygz9KAAABF0lEQVRo3qXXsQ2DUBAFwW3SCBERUgaluFQnBDjgGzyvgNXosuuFm7mwx4SYEBNiQkyICTEhJsSEhKCFLSxMByEmxISYEBNiQkyICQFBCmunMSEmxISY0B+EvseEmBATYkJMiAkxISbEhJgQE2JCTIgJMaEnBC28tbB0MSbEhJgQE2JCTIgJ3SRoYW8wJsSEmNAdghbmxmNCTIgJMSEmxISYEBNiQkyICTEhJsSEmBATGvxCWti6OSbEhJgQE2JCTOiCoIU1LExpYevJmJBeoZgQE2JCTIgJMSEmxISYEBNiQkyICTEhJsSEmND5I/y9YWEJCkSICTEhJsSEmBATOgha2LUwJ9MrFBPSKxQTYkJMiAkxISZ8ANs+g1DnE8M0AAAAAElFTkSuQmCC);
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
@media screen and (-moz-min-device-pixel-ratio: 2),
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (min--moz-device-pixel-ratio: 2),
    screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 2dppx),
    screen and (min-resolution: 192dpi) {
    .nice-shop .shop-item--bg-3 {
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAggAAAEAAgMAAACrKWYAAAAACVBMVEXw6+n08e/y7uz3XVSqAAACVklEQVR42sXasW0YQAwEwW1SBOHoQ5XBUlyq4dihLM1VMNj4+tBbTzhO2DjhOGHjhOOEjROOEzZOOE7YOOE4YeOE44SNE44TNk44Ttg44Thh44TjhI0TjhM2TjhO2DjhOGHThDlO+EwTJk54nDBxwuOEiRMeJ0yc8Dhh4oTHCRMnPE6YOOFxwsQJjxMmTnicMHHC44SJEx4nTJzwOGHihMcJEyc8Tpg44XHCrzjhNydsnHCcsHHCccLGCccJGyccJ2yccJywccJxwsYJxwkbJxwnbJxwnLBxwnHCxgnHCRsnHCdsnHCcsHHCccKmCXOc8JkmTJzwOGHihMcJEyc8Tpg44XHCxAmPEyZOeJwwccLjhIkTHidMnPA4YeKExwkTJzxOmDjhccLECY8TJk54nDBxwuOEX3HCb07YOOE4YeOE44SNE44TNk44Ttg44Thh44TjhI0TjhM2TjhO2DjhOGHjhOOEjROOEzZOOE7YOOE4YeOE44SNE44TPtOEiRMeJ0yc8Dhh+v/zEfIR8hHyEfIR8hHyEfIR8hHyEfIR8hHyEfIR8hHyEfIR8hHyEfIR8hHyEfIR8hHyEfIR+sI54McI2z/7acL13fMR8hHyEfIR8hHyEfIR8hHyEfIR8hHyEfIR8hHyEfIR8hHyEfIR8hHyEfIR8hHyEfIR8hHyEfIR+sI54NsI0xf3dcLrp+cj5CPkI+Qj5CPkI+Qj5CPkI+Qj5CPkI+Qj5CPkI+Qj5CPkI+Qj5CPkI+Qj5CPkI+Qj5CPkI+Qj5CP09xyA97HpfVx6PkI+wh9mss44zHIN4QAAAABJRU5ErkJggg==);
    }
}
.nice-shop .shop-item--bg-4 {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAQQAAACAAQMAAADXkIUzAAAABlBMVEX48/b27/O8JAKqAAAA7UlEQVRYw4XKMZUDUAgAsOMxMHIOkPIt1QGW64BKSOb8yT/HRyG+GsUxHKsRp1Ecw7EacRrFMRyrEadRHMNxGsnRHI/jNJKjOR7HaSRHczyO00iO5ngcp5EczfE4TiM5muNxnEZyNMfjOI3kaI7ViNMojuFYjTiN4hiO1YjTKI7hWI04jeIYjtWI0yiO4ViNOI3iGI7ViNMojuFYjTiN4hiO00iO5ngcp5EczfE4TiM5muNxnEZyNMfjOI3kaI7HcRrJ0RyP4zSSozkex2kkR3M8jTiN4hiO1YjTKI7hWI04jeIYjtWI0yiO4ViNHzmeKCFEGaWVAAAAAElFTkSuQmCC);
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
@media screen and (-moz-min-device-pixel-ratio: 2),
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (min--moz-device-pixel-ratio: 2),
    screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 2dppx),
    screen and (min-resolution: 192dpi) {
    .nice-shop .shop-item--bg-4 {
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAggAAAEAAQMAAADsiRzQAAAABlBMVEX27/P48/aIY22zAAAB/klEQVR42qXQsU0FQAwFwVf6lXaluASHDk6GgBQkvmYLmGDzhS0Lw0KxcMIbVBgWioWjwkaFYaFYOCpsVBgWioWjwkaFZuGyEBUeC83CZSEqPBaahctCVHgsNAuXhajwWGgWLgtR4bHQLFwWosJjoVm4LESFx0KzcFmICsNCsXBU2KgwLBQLR4WNCsNCsXBU2KgwLBQLR4WNCsNCsXBU2KgwLBQLR4WNCsNCsXBU2KgwLBQLR4WNCs3CZSG/9JHwWGgWLgtR4bHQLFwWosJjoVm4LESFx0KzcFmICo+FZuGyEBUeC83CZSEqPBaahctCVBgWioWjwkaFYaFYOCpsVBgWioWjwkaFYaFYOCpsVBgWioWjwkaFYaFYOCpsVBgWioWjwkaFYaFYOCpsVGgW7j+Fv4sKj4Vm4bIQFR4LzcJlISo8FpqFy0JUeCw0C5eFqPBYaBYuC1HhsdAsXBaiwmOhWbgsRIVhoVg4KmxUGBaKhaPCRoVhoVg4KmxUGBaKhaPCRoVhoVg4KmxUGBaKhaPCRoVhoVg4KmxUGBaKhaPCRoUG4afLQlR4LDQLl4Wo8FhoFi4LUeGx0CxcFqLCY6FZuCxEhcdCs3BZiAqPhWbhshAVHgvNwmUhKgwLxcJRYaPCsFAsHBU2KgwLxcJRYaPCsFAsnGAbbaJVNN7wDTObsXf2odGLAAAAAElFTkSuQmCC);
    }
}
.nice-shop .shop-item--bg-5 {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAQQAAACAAQMAAADXkIUzAAAABlBMVEXx9fns8feOlWv0AAAA7UlEQVRYw4XKMZUDUAgAsOMxMP5zgBQs1QGW64BKSOb8yT/HRyG+GsXRHKsRp1EczbEacRrF0RyrEadRHM2xGnEaxTEcp5Ecj2M4TiM5HsdwnEZyPI7hOI3keBzDcRrJ8TiG4zSS43Esx2kkx+MYjtNIjuZYjTiN4miO1YjTKI7mWI04jeJojtWI0yiO5liNOI3iaI7ViNMojuY4jeAojuZYjTiN4hiO00iOxzEcp5Ecj2M4TiM5HsdwnEZyPI7hOI3keBzDcRrJ8TiG4zSS43EMx2kkR3OsRpxGcTTHasRpFEdzrEacRnE0x2r8AEOEJ4OIUwKkAAAAAElFTkSuQmCC);
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
@media screen and (-moz-min-device-pixel-ratio: 2),
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (min--moz-device-pixel-ratio: 2),
    screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 2dppx),
    screen and (min-resolution: 192dpi) {
    .nice-shop .shop-item--bg-5 {
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAggAAAEAAQMAAADsiRzQAAAABlBMVEXx9fns8feOlWv0AAAB/klEQVR42qXQsU0FQAwFQU4XOHQJLuVKc+kPiRgkvmYLmGC/tMNCsTAsLG8Ib2BhWNjwBhWKhWFhVThRoVgYFlaFExWKhWEhKlwWmoXHQlS4LDQLj4WocFloFh4LUeGy0Cw8FqLCZaFZeCxEhctCs/BYiAqXhWbhsRAVLgvNwqpwokKxMCysCicqFAvDwqpwokKxMCysCicqFAvDwqpwokKxMCysCicqFAvDwqpwokKxMCysCicqFAvDQlS4LHR+6SPhsRAVLgvNwmMhKlwWmoXHQlS4LDQLj4WocFloFh4LUeGy0Cw8FqLCZaFZeCxEhctCs7AqnKhQLAwLq8KJCsXCsLAqnKhQLAwLq8KJCsXCsLAqnKhQLAwLq8KJCsXCsLAqnKhQLAwLq8KJCsXCsBAV7n+FP2sWHgtR4bLQLDwWosJloVl4LESFy0Kz8FiICpeFZuGxEBUuC83CYyEqXBaahcdCVLgsNAurwokKxcKwsCqcqFAsDAurwokKxcKwsCqcqFAsDAurwokKxcKwsCqcqFAsDAurwokKxcKwsCqcqFAsDAsB4afLQrPwWIgKl4Vm4bEQFS4LzcJjISpcFpqFx0JUuCw0C4+FqHBZaBYeC1HhstAsPBaiwmWhWVgVTlQoFoaFVeFEhWJhWFgVTlQoFoaFVeFEhWJhWNhg32tJEFsnDw3TAAAAAElFTkSuQmCC);
    }
}
.nice-shop .shop-item--bg-6 {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAQQAAACAAQMAAADXkIUzAAAABlBMVEXr9vTx+PdcLmNuAAAA6klEQVRYw4XOMRHAMAwEwYduaIZiCCpVaJRA2Ku3uHzoURyJjURTPIojsZFoikdxJDYSTfEojsRGoikuRSSGoiguRSSGoiguRSSGoiguRSSGoiguRSSGoiguRSSGoiguRSSGoiguRSSGoiiOxEaiKR7FkdhINMWjOBIbiaZ4FEdiI9EUj+JIbCSa4lEciY1EUzyKI7GRaIpHcSQ2Ek3xKCIxFEVxKSIxFEVxKSIxFEVxKSIxFEVxKSIxFEVxKSIxFEVxKSIxFEVxKSIxFEVxJDYSTfEojsRGoikexZHYSDTFozgSG9UUj4IbPyToQHESrl04AAAAAElFTkSuQmCC);
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
@media screen and (-moz-min-device-pixel-ratio: 2),
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (min--moz-device-pixel-ratio: 2),
    screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 2dppx),
    screen and (min-resolution: 192dpi) {
    .nice-shop .shop-item--bg-6 {
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAggAAAEAAQMAAADsiRzQAAAABlBMVEXr9vTx+PdcLmNuAAAB/klEQVR42qXQsU0FQAwFwVf6lXaluIQLHViGgBQkvmYLmGDzhS0LzUKxcMIbVGgWioWjwkaFZqFYOCpsVGgWLgtRYVh4LFwWosKw8Fi4LESFYeGxcFmICsPCY+GyEBWGhcfCZSEqDAuPhctCVBgWHguXhagwLBQLR4WNCs1CsXBU2KjQLBQLR4WNCs1CsXBU2KjQLBQLR4WNCs1CsXBU2KjQLBQLR4WNCs1CsXBU2KjQLFwWosLklz4SHguXhagwLDwWLgtRYVh4LFwWosKw8Fi4LESFYeGxcFmICsPCY+GyEBWGhcfCZSEqDAvFwlFho0KzUCwcFTYqNAvFwlFho0KzUCwcFTYqNAvFwlFho0KzUCwcFTYqNAvFwlFho0KzUCwcFTYqNAuXhfxT+LNh4bFwWYgKw8Jj4bIQFYaFx8JlISoMC4+Fy0JUGBYeC5eFqDAsPBYuC1FhWHgsXBaiwrBQLBwVNio0C8XCUWGjQrNQLBwVNio0C8XCUWGjQrNQLBwVNio0C8XCUWGjQrNQLBwVNio0C8XCUWGjQrNwQfgpKgwLj4XLQlQYFh4Ll4WoMCw8Fi4LUWFYeCxcFqLCsPBYuCxEhWHhsXBZiArDwmPhshAVhoVi4aiwUaFZKBaOChsVmoVi4aiwUaFZKBaOChsVmoVi4QTbaB2tovGGbzkAras/9KUcAAAAAElFTkSuQmCC);
    }
}
.nice-shop .shop-item--bg-7 {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAQQAAACAAQMAAADXkIUzAAAABlBMVEX29fDz8eqa5JxSAAAA7UlEQVRYw4XKMZUDUAgAsOMxMHIOkPIt1QGW64BKSOb8yT/HRyG+GsUxHKsRp1Ecw7EacRrFMRyrEadRHMNxGsnRHI/jNJKjOR7HaSRHczyO00iO5ngcp5EczfE4TiM5muNxnEZyNMfjOI3kaI7ViNMojuFYjTiN4hiO1YjTKI7hWI04jeIYjtWI0yiO4ViNOI3iGI7ViNMojuFYjTiN4hiO00iO5ngcp5EczfE4TiM5muNxnEZyNMfjOI3kaI7HcRrJ0RyP4zSSozkex2kkR3M8jTiN4hiO1YjTKI7hWI04jeIYjtWI0yiO4ViNHzmeKCFEGaWVAAAAAElFTkSuQmCC);
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
@media screen and (-moz-min-device-pixel-ratio: 2),
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (min--moz-device-pixel-ratio: 2),
    screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 2dppx),
    screen and (min-resolution: 192dpi) {
    .nice-shop .shop-item--bg-7 {
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAggAAAEAAgMAAACrKWYAAAAACVBMVEXz8er29fD18+0vVVUcAAACU0lEQVR42sXYsW0YQAwEwS1NJSiQHgxZCkt3AQ4MB9JcBYMNr2+9L0/44ISJE44TJk44Tpg44Thh4oTjhIkTjhMmTjhOmDjhOGHihOOEiROOEyZOOE6YOOE4YeKE44SJE44TJk44Tpg44TjhM06IE5YTXpywnPDihOWEFycsJ7w4YTnhxQnLCS9OWE54ccJywosTlhNenLCc8OKE5YQXJywnvDhhOeHFCcsJL05YTviKEz44YeKE44SJE44TJk44Tpg44Thh4oTjhIkTjhMmTjhOmDjhOGHihOOEiROOEyZOOE6YOOE4YeKE44SJE44TJk44Ttg4IU5YTnhxwnLCixOWE16csJzw4oTlhBcnLCe8OGE54cUJywkvTlhOeHHCcsKLE5YTXpywnPDihOWEFycsJ7w4YTnhK044Tpg44Thh4oTjhIkTjhMmTjhOmDjhOGHihOOEiROOEyZOOE6YOOE4YeKE44SJE44TJk44Tpg44Thh4oTjhIkTjhM+04QXJywn/ECEfIR8hHyEfIR8hHyEfIR8hHyEfIR8hHyEfIR8hHyEfIR8hHyEfIR8hHyEfIR8hHyEfIR8hHyEfxO++un9/6Px64Tpx+cj5CPkI+Qj5CPkI+Qj5CPkI+Qj5CPkI+Qj5CPkI+Qj5CPkI+Qj5CPkI+Qj5CPkI+Qj5CPkI+Qj5CP8Tfjst/frt86/Cduvz0fIR8hHyEfIR8hHyEfIR8hHyEfIR8hHyEfIR8hHyEfIR8hHyEfIR8hHyEfIR8hHyEfIR8hHyEfo+yu974/0Jr5L7w/hRM3kl2DZsQAAAABJRU5ErkJggg==);
    }
}
.nice-shop .shop-item--bg-8 {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAQQAAACAAgMAAACQMP/jAAAACVBMVEX27u748/P38fG2WsZaAAABCElEQVRo3qXOsQ2DUBTAQI/GCK8giJJRGD1Fykh8ofMA1vXBdj5sejjTw11MiAkxISbEhJgQE2JCTIgJMSEmxISYEBNiQkyICTEhIMBh0kN6GD6kh+FDehg+pIfhQ3q49HD0HxNiQkyICTEhJsSEmBATYkJMiAkxISbEhJgQE2JCLwhw2NPD1lNMiAkxISbEhJgQE1oS9HCmh7tlTIgJMSEmxISYEBNiQkyICTEhJsSEmBATYkJMiAkxoQcCHCY9pIfhQ3oYPqSH4UN6GD6kh6t1j4ej9zEhJsSEmBATYkJMiAkxISbEhJgQE2JCTIgJMSEmxIR+BD1setijmBATYkJMiAkxoTvsC1KVfDzQumbwAAAAAElFTkSuQmCC);
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
@media screen and (-moz-min-device-pixel-ratio: 2),
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (min--moz-device-pixel-ratio: 2),
    screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 2dppx),
    screen and (min-resolution: 192dpi) {
    .nice-shop .shop-item--bg-8 {
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAggAAAEAAQMAAADsiRzQAAAABlBMVEX27u748/NnGj/OAAAB/klEQVR42qXQsU0FQAwFwVf6lXaluIQLHVgGiRgkvmYLmGDzhS0LzUKxcMIbVGgWioWjwkaFZqFYOCpsVGgWioWoMCw8Fi4LUWFYeCxcFqLCsPBYuCxEhWHhsXBZiArDwmPhshAVhoXHwmUhKgwLj4XLQlQYFh4LV4WNCs1CsXBU2KjQLBQLR4WNCs1CsXBU2KjQLBQLR4WNCs1CsXBU2KjQLBQLR4WNCs1CsXBU2KjQLBQLUWFYePmlj4TLQlQYFh4Ll4WoMCw8Fi4LUWFYeCxcFqLCsPBYuCxEhWHhsXBZiArDwmPhshAVhoXHwlVho0KzUCwcFTYqNAvFwlFho0KzUCwcFTYqNAvFwlFho0KzUCwcFTYqNAvFwlFho0KzUCwcFTYqNAvFQlSY/wp/9li4LESFYeGxcFmICsPCY+GyEBWGhcfCZSEqDAuPhctCVBgWHguXhagwLDwWLgtRYVh4LFwVNio0C8XCUWGjQrNQLBwVNio0C8XCUWGjQrNQLBwVNio0C8XCUWGjQrNQLBwVNio0C8XCUWGjQrNQLASEn4aFx8JlISoMC4+Fy0JUGBYeC5eFqDAsPBYuC1FhWHgsXBaiwrDwWLgsRIVh4bFwWYgKw8Jj4aqwUaFZKBaOChsVmoVi4aiwUaFZKBaOChsVmoVi4QTbaB2tovGGb1CIr2t3DInfAAAAAElFTkSuQmCC);
    }
}
.nice-shop .shop-item .item-title {
    max-height: 38px;
    line-height: 1.3em;
    font-size: 14px;
    color: #333;
    -webkit-transition: color 0.2s ease;
    transition: color 0.2s ease;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.nice-shop .shop-item .item-social {
    color: #999;
    font-size: 12px;
    position: absolute;
    bottom: 15px;
}
.nice-shop .shop-item .item-tags {
    margin-top: 5px;
}
.nice-shop .shop-item__cover {
    width: 100px;
    height: 100px;
    position: absolute;
    right: 10px;
    top: 15px;
    -webkit-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
    border-radius: 4px;
    -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    padding: 5px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: white;
}
.nice-shop .shop-item__cover > img {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
}
.nice-shop .shop-item:hover .shop-item__cover {
    opacity: 0.8;
}
.nice-shop .shop-item:hover .item-title {
    color: #c81623;
}
.o2_mini .nice-shop .shop-item {
    margin-bottom: 9px;
    height: 113px;
}
.o2_mini .nice-shop .shop-item .item-title {
    max-height: 32px;
    line-height: 1.2em;
    font-size: 12px;
}
.o2_mini .nice-shop .shop-item .item-tags .text-tag:first-child + .text-tag {
    display: none;
}
.o2_mini .nice-shop .shop-item__cover {
    width: 85px;
    height: 85px;
    right: 15px;
}
.new_joy_list .joy_item {
    margin: 0 15px 10px;
}
.new_joy_list .joy_item:last-child {
    margin-bottom: 0;
}
.new_joy_list .joy_item_img {
    display: block;
    width: 70px;
    height: 70px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.o2_mini .new_joy_list .joy_item_img {
    width: 60px;
    height: 60px;
}
.new_joy_list .joy_item_img > img {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
}
.new_joy_list .joy_item_info {
    position: absolute;
    left: 80px;
    top: 0;
    width: 180px;
}
.o2_mini .new_joy_list .joy_item_info {
    left: 70px;
    width: 150px;
    font-size: 12px;
}
.new_joy_list .joy_item_name {
    display: block;
    max-height: 2.6em;
    line-height: 1.3em;
    font-size: 14px;
    word-break: break-all;
    color: #333;
    overflow: hidden;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    font-family: Microsoft Yahei, PingFangSC-Medium, sans-serif, serif;
}
.o2_ie8 .new_joy_list .joy_item_name {
    margin-top: -15px;
}
.o2_mini .new_joy_list .joy_item_name {
    font-size: 12px;
}
.new_joy_list .joy_item_lk {
    position: relative;
    display: block;
    height: 70px;
}
.o2_mini .new_joy_list .joy_item_lk {
    height: 60px;
}
.new_joy_list .joy_item_lk:hover .top_item_name {
    color: #c81623;
}
.new_joy_list .joy_item_lk:hover .top_item_img {
    opacity: 0.8;
}
.new_joy_list .joy_item_price {
    margin-top: 10px;
    font-family: Arial-BoldMT, Microsoft Yahei, PingFangSC-Medium, sans-serif,
        serif;
    font-size: 16px;
    color: #e1251b;
    letter-spacing: 0;
}
.new_joy_list .joy_item_price i {
    font-size: 12px;
    font-weight: 400;
}
.new_joy_list .joy_item_price_txt-decimal {
    font-size: 12px;
}
.o2_mini .new_joy_list .joy_item_price {
    margin-top: 5px;
}
#J_top .top {
    background: #fff;
}
#J_top .top_tab {
    position: relative;
}
#J_top .top_tab_lk {
    display: inline-block;
    max-width: 70px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #999;
    font-size: 12px;
    background-color: #f6f6f6;
    height: 20px;
    line-height: 20px;
    margin: 0 4px;
    width: 62px;
    text-align: center;
    border-radius: 12px;
    font-family: Microsoft Yahei, PingFangSC-Medium, sans-serif, serif;
}
#J_top .tab_head {
    position: absolute;
    height: 40px;
    right: 5px;
    line-height: 0;
    font-size: 0;
}
.o2_mini #J_top .tab_head {
    right: 14px;
    text-align: right;
    overflow: hidden;
}
#J_top .tab_head_item {
    display: inline-block;
    height: 26px;
    line-height: 40px;
    padding-top: 0;
    font-size: 14px;
}
#J_top .tab_head_item.active .top_tab_lk {
    background-color: #e1251b;
    color: #fff;
}
.core2 {
    height: 340px;
}
.o2_mini .core2 {
    height: 305px;
}
