@charset "UTF-8";
/* 频道广场 */
.pindaoguangchang {
  position: relative;
  width: 150px;
  height: 45px;
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  line-height: 45px;
  padding: 0 30px;
  margin: 0 auto 20px;
  overflow: hidden;
  color: #333;
}
.pindaoguangchang:after, .pindaoguangchang:before {
  background-image: url("https://misc.360buyimg.com/mtd/pc/index_2019/1.0.0/assets/sprite/floor_hd/sprite.png");
  width: 25px;
  height: 20px;
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -10px;
}
.pindaoguangchang:before {
  background-position: 0 0;
  left: 0;
}
.pindaoguangchang:after {
  background-position: -25px 0;
  right: 0;
}

/* channels_item */
#mine {
  /* display: flex;
  flex-direction: column; */
  background-color: white !important;
}
#mine .channels_item_title {
  display: block;
  height: 30px;
  margin-left: 30px;
  margin-right: 10px;
  padding-top: 17px;
  padding-bottom: 13px;
  line-height: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#mine .channels_item_title_main {
  font-size: 22px;
  font-weight: 700;
  color: #333;
}
#mine .channels_item_title_aside {
  font-size: 14px;
  color: #999;
  margin-left: 5px;
}
#mine .channels_item_imgs {
  display: flex;
  padding-left: 30px;
  padding-right: 30px;
  justify-content: space-between;
}
#mine img {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

/* 为你推荐 */
.feed-tab-wrapper {
  background: #fff;
  margin-bottom: 10px !important;
}
.feed-tab-wrapper .grid_c1 {
  margin: 0 auto;
  width: 1190px;
}
.feed-tab-wrapper .feed-tab__item-title {
  color: #333;
  margin-top: 7px;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  height: 27px;
}
.feed-tab-wrapper .feed-tab__item-desc {
  color: #999;
  font-size: 14px;
}
.feed-tab-wrapper .feed-tab__item--active .feed-tab__item-title-text {
  background: #e1251b;
  color: #fff;
  width: 70px;
  height: 27px;
  display: inline-block;
  border-radius: 50px;
  padding: 0 5px;
}
.feed-tab-wrapper .feed-tab__item {
  position: relative;
  float: left;
  width: 180px;
  height: 60px;
  text-align: center;
  cursor: pointer;
}
.feed-tab-wrapper .feed-tab__item-gap {
  position: absolute;
  right: 0;
  top: 0;
  height: 40px;
  margin: 10px 0;
  width: 1px;
  background: #dfdfdf;
  background: linear-gradient(180deg, white, #dfdfdf 51%, white);
}

/* 推荐详情列表 */
.more2 .mod_price {
  display: inline-block;
  font-size: 16px;
  line-height: 18px;
  height: 18px;
  color: #e1251b;
}
.more2 .more2_img img {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
}
.more2 .more2_info_name {
  height: 48px;
  font-size: 14px;
  line-height: 24px;
  text-align: left;
  color: #666;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.more2 .more2_info_price {
  margin-top: 10px;
}
.more2 .more2_info_price_plus .mod_price {
  float: left;
  width: 100%;
  text-align: left;
}
.more2 .more2_info_price_txt {
  font-size: 20px;
  font-weight: 700;
  font-family: arial, sans-serif;
}
.more2 .more2_info_price_txt-decimal {
  font-size: 12px;
}

/* 通栏 */
#fixedSearch {
  z-index: 100;
  background-color: white;
  height: 52px;
  transition: all 0.5s linear;
  overflow: hidden;
  top: -55px;
}

/* 侧边栏 */
.elevator_fix {
  position: absolute;
}

/* 轮播图 */
#slider_wrapper {
  position: absolute;
  left: -590px;
}

.sliderBanner #slider_wrapper .slider_indicators_btn_active {
  top: 0;
  border-color: #666;
}

/* swiper匀速 */
.swiper-container-free-mode > .swiper-wrapper {
  -webkit-transition-timing-function: linear;
  /*之前是ease-out*/
  -moz-transition-timing-function: linear;
  -ms-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  margin: 0 auto;
}

/*# sourceMappingURL=index.css.map */
