/* virtuals-squares/2.0/ cz.css Date:2018-11-27 18:04:23 */
address,
b,
big,
blockquote,
body,
center,
cite,
code,
dd,
del,
div,
dl,
dt,
em,
fieldset,
font,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
i,
iframe,
img,
ins,
label,
legend,
li,
ol,
p,
pre,
small,
span,
strong,
u,
ul,
var {
    margin: 0;
    padding: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}
audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}
hr {
    box-sizing: content-box;
    height: 0;
}
button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
button,
html input[type="button"],
input[type="submit"] {
    -webkit-apperance: button;
    cursor: pointer;
}
button[disabled],
html input[disabled] {
    cursor: default;
}
ol,
ul {
    list-style: none;
}
img {
    border: 0;
    vertical-align: middle;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
del {
    text-decoration: line-through;
}
em,
i,
u {
    font-style: normal;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.hide {
    display: none;
}
.clear,
.clr {
    display: block;
    overflow: hidden;
    clear: both;
    height: 0;
    line-height: 0;
    font-size: 0;
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix {
    *zoom: 1;
}
.dorpdown {
    position: relative;
}
.dorpdown-layer {
    display: none;
    position: absolute;
}
.dorpdown:hover .dorpdown-layer,
.hover .dorpdown-layer {
    display: block;
}
.cw-icon {
    position: relative;
    cursor: default;
    zoom: 1;
}
.cw-icon .i,
.cw-icon i {
    display: block;
    position: absolute;
    overflow: hidden;
}
.w {
    width: 990px;
    margin: 0 auto;
}
.root61 .w {
    width: 1210px;
}
body {
    font: 12px/150% Arial, Verdana, "\5b8b\4f53";
    color: #666;
}
a {
    color: #666;
    text-decoration: none;
    white-space: nowrap;
}
a:hover {
    color: #e01222;
    text-decoration: underline;
}
.m,
.mb,
.mc,
.mt,
.p-detail,
.p-img,
.p-market,
.p-name,
.p-price,
.sm,
.smb,
.smc,
.smt {
    overflow: hidden;
}
input::-ms-clear {
    display: none;
}
body {
    background: #fff;
}
.iframe-recharge .content-iframe .hide {
    display: none;
}
.iframe-recharge {
    color: #666;
    width: 160px;
}
.iframe-recharge .tab-iframe {
    height: 19px;
    padding: 15px 0 0 8px;
    overflow: hidden;
}
.iframe-recharge .tab-iframe li {
    float: left;
    margin-right: 6px;
    text-align: center;
    height: 19px;
    overflow: hidden;
}
.iframe-recharge .tab-iframe li a {
    _float: left;
    position: relative;
    display: block;
    padding: 0 2px;
    line-height: 16px;
    color: #666;
    white-space: nowrap;
    height: 19px;
    overflow: hidden;
}
.iframe-recharge .tab-iframe li a:hover {
    text-decoration: none;
}
.iframe-recharge .tab-iframe li.tab-item-selected a {
    color: #fff;
    background: url(//misc.360buyimg.com/virtuals/squares/1.0/css/i/iframe-san-new.png)
        center 0 no-repeat;
}
.iframe-recharge .content-iframe {
    position: relative;
    height: 146px;
    font-family: "Microsoft Yahei";
}
.iframe-recharge .content-iframe select {
    height: 20px;
    border: 1px solid #e7e7e7;
    font-family: "Microsoft Yahei";
    letter-spacing: 0;
}
.iframe-recharge .btn-wrap {
    margin-top: 5px;
    height: 20px;
    width: 60px;
    display: inline-block;
    overflow: hidden;
}
.iframe-recharge .btn-nostore,
.iframe-recharge .btn-submit {
    width: 60px;
    height: 20px;
    background: #e40015;
    color: #fff;
    text-align: center;
    line-height: 18px;
    border: 0;
    border-radius: 10px;
    _line-height: 26px;
    margin-right: 8px;
}
.iframe-recharge .btn-nostore:focus,
.iframe-recharge .btn-submit:focus {
    outline: 0;
}
.iframe-recharge .btn-nostore {
    background: #ccc;
}
.iframe-recharge .link-ad {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    color: #999;
}
.iframe-recharge .link-ad a {
    color: #5476db;
}
.iframe-recharge .link-ad a:hover {
    color: #e01222;
    text-decoration: none;
}
.iframe-recharge .vm {
    vertical-align: middle;
    _vertical-align: -2px;
}
.iframe-recharge .form-bottom,
.iframe-recharge .form-top {
    margin-top: 5px;
    height: auto;
    overflow: hidden;
}
.iframe-recharge .form-bottom {
    height: auto;
    margin-top: 8px;
}
.iframe-recharge .form-bottom dd,
.iframe-recharge .form-bottom dt,
.iframe-recharge .form-top dd,
.iframe-recharge .form-top dt {
    float: left;
    display: inline;
    overflow: hidden;
}
.iframe-recharge .form-bottom dt label,
.iframe-recharge .form-top dt label {
    display: inline-block;
    *zoom: 1;
    *display: inline;
    width: 34px;
}
.iframe-recharge .form-top .msg-wrap {
    letter-spacing: -1px;
    margin: 8px 0 0;
}
.iframe-recharge .form-top .msg-error {
    color: #e40015 !important;
}
.iframe-recharge .select-price-money {
    width: 126px;
}
.iframe-recharge .select-city-traffic,
.iframe-recharge .select-price-traffic {
    width: 52px;
}
.iframe-recharge .msg-price-box {
    padding-top: 5px;
}
.iframe-recharge .msg-price {
    color: #e40015;
}
.iframe-recharge .pr {
    position: relative;
}
.iframe-recharge .input-phone {
    color: #c2c2c2;
    float: left;
    width: 124px;
    *width: 122px;
    width: 122px\9;
    height: 20px;
    *height: 16px;
    margin: 0;
    line-height: 20px;
    *line-height: 16px;
    border: 1px solid #e7e7e7;
    text-indent: 0.6em;
    box-sizing: border-box;
}
@-moz-document url-prefix() {
    .iframe-recharge .input-phone {
        width: 122px;
    }
}
.iframe-recharge .input-phone,
_:-ms-lang(x) {
    width: 122px;
}
.iframe-recharge .icon-loading {
    display: inline-block;
    *zoom: 1;
    *display: inline;
    position: absolute;
    width: 20px;
    height: 20px;
    right: 1px;
    top: 1px;
    background: url(//misc.360buyimg.com/virtuals/iframe/i/iframe-load.gif) 0 0
        no-repeat;
}
.iframe-recharge .icon-right {
    display: inline-block;
    *zoom: 1;
    *display: inline;
    position: absolute;
    width: 20px;
    height: 20px;
    right: 1px;
    top: 1px;
    background: url(//misc.360buyimg.com/virtuals/iframe/i/product_home_1.0.0.png?__sprite)
        0 0 no-repeat;
    background-position: 0 -340px;
}
.error-div {
    display: none;
    position: absolute;
    height: 24px;
    padding: 0 5px;
    top: 36px;
    left: 37px;
    background: #fff;
    box-shadow: 0 0 5px #ccc;
    line-height: 24px;
    text-align: center;
    border-radius: 4px;
    color: #da1616;
    border: 1px solid #ccc;
}
.error-div i {
    display: inline-block;
    position: absolute;
    width: 8px;
    height: 5px;
    top: -5px;
    left: 30px;
    background: url(//misc.360buyimg.com/virtuals/squares/1.0/css/i/arrow-tip.png)
        no-repeat;
    background-size: 100% 100%;
}
