.timmer {
    color: #333;
    font-weight: 700;
}
.timmer .timmer__unit {
    position: relative;
}
.timmer .timmer__unit:after {
    content: ":";
}
.timmer .timmer__unit:last-child:after {
    content: "";
}
.seckill-countdown {
    position: relative;
    float: left;
    width: 190px;
    height: 100%;
    color: #fff;
    background-color: #e83632;
    background-image: url(//misc.360buyimg.com/mtd/pc/index_2019/1.0.0/assets/img/4a15d8883775742e3efbb850ae14def7.png);
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
}
@media screen and (-moz-min-device-pixel-ratio: 2),
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (min--moz-device-pixel-ratio: 2),
    screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 2dppx),
    screen and (min-resolution: 192dpi) {
    .seckill-countdown {
        background-image: url(//misc.360buyimg.com/mtd/pc/index_2019/1.0.0/assets/img/613f39ecb60e42dfec798a4ffc0bc012.png);
    }
}
.seckill-countdown:hover {
    color: #fff;
}
.seckill-countdown .countdown-title {
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin-top: 31px;
}
.seckill-countdown .countdown-fallback {
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    margin-top: 110px;
}
.seckill-countdown .countdown-desc {
    margin-top: 90px;
    font-size: 14px;
    text-align: center;
}
.seckill-countdown .countdown-desc strong {
    font-size: 18px;
    padding-right: 2px;
    vertical-align: middle;
    display: inline-block;
    margin-top: -1px;
}
.seckill-countdown .countdown-main {
    margin-left: auto;
    margin-right: auto;
    width: 130px;
    height: 30px;
    margin-top: 10px;
    display: block;
}
.seckill-countdown .countdown-main .timmer__unit {
    position: relative;
    float: left;
    width: 30px;
    height: 30px;
    text-align: center;
    background-color: #2f3430;
    margin-right: 20px;
    color: white;
    font-size: 20px;
}
.seckill-countdown .countdown-main .timmer__unit:after {
    content: ":";
    display: block;
    position: absolute;
    right: -20px;
    font-weight: bolder;
    font-size: 18px;
    width: 20px;
    height: 100%;
    top: 0;
}
.o2_ie8 .seckill-countdown .countdown-main .timmer__unit:after {
    right: -25px;
}
.seckill-countdown .countdown-main .timmer__unit--second {
    margin-right: 0;
}
.seckill-countdown .countdown-main .timmer__unit--second:after {
    content: none;
}
.seckill-countdown .countdown-main .cd_day {
    display: none;
}
.lazyimg {
    position: relative;
    overflow: hidden;
    background: #eee;
    -webkit-transition: background 0.2s linear;
    transition: background 0.2s linear;
}
.lazyimg_img {
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
    -webkit-backface-visibility: hidden;
}
.lazyimg_loaded {
    -webkit-transition: background 0.2s linear, opacity 0.2s linear !important;
    transition: background 0.2s linear, opacity 0.2s linear !important;
    background: transparent;
}
.lazyimg_loaded .lazyimg_img {
    opacity: 1;
}
.seckill-list .slider_control_next {
    right: 1px;
}
.seckill-list .seckill-item:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    width: 1px;
    height: 200px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(white),
        color-stop(#eeeeee),
        to(white)
    );
    background: linear-gradient(180deg, white, #eeeeee, white);
}
.seckill-list .seckill-item__image {
    -webkit-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
}
.seckill-list .seckill-item__name {
    font-size: 12px;
    font-weight: 400;
    color: #333;
    -webkit-transition: color 0.2s ease;
    transition: color 0.2s ease;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.seckill-list .seckill-item__price {
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 24px;
    overflow: hidden;
    text-align: center;
}
.seckill-list .seckill-item__price .price-origin {
    height: 100%;
    width: 66px;
    background: #fff;
    text-align: center;
    color: #e1251b;
    font-size: 12px;
    font-weight: 700;
    line-height: 22px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: top;
}
.seckill-list .seckill-item__price .sk_item_price_isnew {
    text-decoration: none;
}
.seckill-list .seckill-item:hover .seckill-item__image {
    opacity: 0.8;
}
.seckill-list .seckill-item:hover .seckill-item__name {
    color: #c81623;
}
.seckill-brand__slider {
    width: 100%;
    height: 100%;
}
.seckill-brand__slider .slider_indicators {
    bottom: 16px;
}
.seckill-brand__slider .slider_indicators__btn {
    background: #c0c0c0;
    width: 6px;
    height: 6px;
    margin: 4px;
}
.seckill-brand .brand-item .item-image {
    -webkit-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
}
.seckill-brand .brand-item .item-info {
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgba(255, 255, 255, 0.5)),
        to(rgba(220, 224, 236, 0.5))
    );
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.5),
        rgba(220, 224, 236, 0.5)
    );
    text-align: center;
    font-size: 14px;
    position: relative;
}
.seckill-brand .brand-item .item-info-title {
    color: #666;
}
.seckill-brand .brand-item .item-info-promo {
    color: #333;
    font-weight: 700;
}
.seckill-brand .brand-item .item-info-logo {
    position: absolute;
    top: -24px;
    width: 40px;
    height: 20px;
    background: #fff;
    border-radius: 13px;
    left: 50%;
    padding: 1px 5px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.seckill-brand .brand-item .item-info-action {
    color: #e1251b;
    border-radius: 14px;
    width: 82px;
    height: 24px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    display: inline-block;
    line-height: 22px;
    font-weight: 700;
    padding-left: 4px;
    font-size: 12px;
    border: 1px solid #e1251b;
    margin-top: 4px;
    -webkit-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease;
}
.seckill-brand .brand-item .item-info-action .iconfont {
    margin-left: -2px;
    font-size: 16px;
    font-weight: 400;
    vertical-align: middle;
    display: inline-block;
    margin-top: -2px;
}
.seckill-brand .brand-item .item-info-action:hover {
    color: white;
    border-color: transparent;
    background-color: #c81623;
}
.seckill-brand .brand-item:hover .item-image {
    opacity: 0.8;
}
#J_seckill {
    outline: none;
}
.seckill__inner {
    background: #fff;
}
